# Build an XArray

## what you need

1. coords = time array from pandas
2. geobox with x and y values
3. measurement array of bands
4. some numpy data arrays - gathered now or after the fact

### And then:

### a refactored create_storage function that builds the xarray

In [1]:
from datetime import datetime
import pandas as pd

from noteLib import *

from lilcubeLib.lc_api import Lilcube


lc = Lilcube()

creating Lilcube class

In [2]:
left,bottom,right,top = (30.209661,-2.218817,30.246396,-2.163926)

In [3]:
ul_lat = top
ul_lon = left

lr_lat = bottom
lr_lon = right

aoi_ul_geo = (ul_lat, ul_lon)
aoi_lr_geo = (lr_lat, lr_lon)

date_range = (datetime(2013,7,6), datetime(2013,7,7))
# date_range = (datetime(2013,7,6), datetime(2018,7,7))

es_index = 'datacube'
es_type = 'rwanda'

# return a pandas data frame product id creation date and red
panda_df = lc.search(es_index, es_type, aoi_ul_geo, aoi_lr_geo,
             time = date_range, measurements = ('red', 'green', 'blue','nir') )

(datetime.datetime(2013, 7, 6, 0, 0), datetime.datetime(2013, 7, 7, 0, 0))
2013-07-06
Yay Connect
HIT COUNT = 2
##########################################################################################
LC08_L1TP band4 172 61 2013-07-06 /mnt/rwanda/LC08/172/061/2013/LC081720612013070601T1-SC20181130015946/LC08_L1TP_172061_20130706_20170503_01_T1_sr_band4.tif
LC08_L1TP band4 172 62 2013-07-06 /mnt/rwanda/LC08/172/062/2013/LC081720622013070601T1-SC20181129211703/LC08_L1TP_172062_20130706_20170503_01_T1_sr_band4.tif
['product', 'band', 'path', 'row', 'date', 'red']

NameError: name 'xarray' is not defined

In [4]:
panda_df.head()

,product,band,path,row,date,red
0,LC08_L1TP,band4,172,61,2013-07-06,/mnt/rwanda/LC08/172/061/2013/LC08172061201307...
1,LC08_L1TP,band4,172,62,2013-07-06,/mnt/rwanda/LC08/172/062/2013/LC08172062201307...

In [5]:
df = panda_df

coords = df['date'].values

In [6]:
coords

array(['2013-07-06', '2013-07-06'], dtype=object)

In [7]:
for day in coords:
    print(day)

2013-07-06
2013-07-06

In [ ]:
# These coocrdinates need the creation time appendes to be unique or the pathe row

In [26]:
time_coords = []
for idx, val in df.iterrows():
    key = val['date'] + '_' + val['path'] + '_' + val['row']
    print (key)
    time_coords.append(key)

2013-07-06_172_61
2013-07-06_172_62

In [29]:
def return_tony_geobox( aoi_ul_geo, aoi_lr_geo, df):
    print (aoi_ul_geo, aoi_lr_geo)
    bounding_box = geopolygon.boundingbox

In [30]:
THE_geobox = return_tony_geobox( aoi_ul_geo, aoi_lr_geo, df)

(-2.163926, 30.209661) (-2.218817, 30.246396)

In [ ]:
geobox = output_geobox(like=like, output_crs=output_crs, resolution=resolution, align=align,
                               grid_spec=self.index.products.get_by_name(product).grid_spec,
                               datasets=observations, **query)